<% content_for :head do %>
  Universe Index
<% end %>

<div class="row">
  <div class="col-xs-12">
    <div class="page-header">
      <h1>Universe Index</h1>
    </div>
  </div>
</div>
<div class="row">
  <% @universes.each do |universe| %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3><%= link_to universe.name, universe_detail_path(universe.name) %></h3>
          <p><%= universe.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
