<% content_for :head do %>
  <%= @universe.name %>
<% end %>

<div class="row">
  <div class="col-xs-12">
    <div class="page-header">
      <h1><%= @universe.name %></h1>
    </div>
  </div>
</div>
